.flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 7rem;
}

.nav {
  display: flex;
  gap: 5rem;
  justify-content: space-around;
  margin-top: 6.5rem;
}

li {
  list-style: none;
}

.logo {
  width: 30%;
}
