.flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav {
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  margin-top: 6.5rem;
}
li {
  list-style: none;
}
