.movie-list {
  margin: 0 auto;
  padding: 0;
}

.movie {
  list-style: none;
}

.mov-text-box {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  /* padding: 0; */
}

/* .video-size {
  min-width: 340px;
} */

/* .mov-info-wrapped {
  display: flex;
} */

.mov-name {
  font-size: 3rem;
}
.likes-wrapped {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.num-likes {
  font-size: 1.5rem;
  padding-left: 1rem;
}
.like-icon {
  font-size: 2rem;
}
.mov-description {
  padding-top: 1rem;
  font-size: 1.8rem;
}

.mov-title-h3 {
  margin-top: 3rem;
  font-size: 2.5rem;
}

.btn-link,
.btn-link:active {
  font-size: 2rem;
  /* list-style: none; */
  text-decoration: none;
  color: #fec603;
}

.btn-link:hover,
.btn-link:focus {
  color: #a07d00;
}
