.movies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.movies {
  list-style: none;
  /* margin: 10px; */
}

.movie-img {
  width: 100%;
  /* height: 15rem; */
}

.movie-img {
  width: 20rem;
  height: 30rem;
  object-fit: cover;
  /* position: absute; */
}

.movie-text-box {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  color: #fff;
}

.movie-name {
  margin: 0;
}
