.search-flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 0.5rem;
}
.search {
  width: 30rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #fec603;
}

.icon-search {
  font-size: 2rem;
  /* color: rgb(97, 54, 1); */
  color: #fec603;
}
.btn-icon {
  background-color: transparent;
  border: 1px solid #fec603;
  border: none;
  color: #fec603;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
}

/* .search-wrapped {
  position: relative;
  margin-top: 5rem;
}

.form-control {
  outline: none;
} */

/* .form-control:focus {
  border-color: #80bdff;
} */
