.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  height: 4rem;
  padding: 0 1.5rem;
  border: 1px solid #b68e00;
}
.search {
  background-color: transparent;
  width: 100%;
  height: 100%;
  /* padding: 0.5rem 1rem; */
  font-size: 1.8rem;
  border: none;
  margin-left: 0.5rem;
}
.search:focus {
  outline: none;
}
.icon-search {
  font-size: 2rem;
  /* color: rgb(97, 54, 1); */
  color: #fec603;
}
.btn-icon {
  background-color: transparent;
  border: 1px solid #fec603;
  border: none;
  color: #a48100;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
}

/* .search-wrapped {
  position: relative;
  margin-top: 5rem;
}

.form-control {
  outline: none;
} */

/* .form-control:focus {
  border-color: #80bdff;
} */
