:root {
  --shadow: 5px 7px 2px #04000d;
  --border-radius: 0.5rem;
  /* form violete to pink */
  --background-color: linear-gradient(to top right, #fec603 #16d6fa);
  --color: linear-gradient(to top right, #af87ce rgb(234, 26, 127));
  --button-background1: #fec603;
  --button-background2: #ea1a7f;
  --button-background3: #16d6fa;
  --color1: rgb(175, 135, 206);
  --color2: #ea1a7f;
  --color3: #fec603;
  --color4: #a8f387;
  --color5: #16d6fa;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.container {
  /* max-width: 40rem; */
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
