* {
  padding: 0;
  margin: 0 auto;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
.container {
  width: 70rem;
  margin: 0 auto;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}
